.about-section {
    padding: 50px;
    text-align: center;
    /*background-color: #5bc0de;*/
    background-color: #5bc0de;
    color: #ffffff;
    /*background-color: #474e5d;*/
    /*color: white;*/
}

.textbox {
    width: 80%;
    padding: 50px 0px 80px 0px;
}